.header {
  position: relative;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 64px;
  padding: 23px 38px;
  max-width: 1640px;

  &::before {
    @include pseudo;

    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid var(--second);
    border-radius: 64px;
    width: 100%;
    height: 100%;
    pointer-events: none;

    @include tablet {
      border-width: 2px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;

    @include small-desktop {
      justify-content: space-between;
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include small-desktop {
      position: static;
      margin-right: auto;
      transform: initial;
    }

    @include tablet {
      @include hide-scrollbar;

      position: fixed;
      left: auto;
      right: 0;
      top: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: 0 10px;
      padding-top: 100px;
      padding-bottom: 10px;
      width: 100%;
      height: 100%;
      background-color: var(--accent);
      visibility: hidden;
      transform: translateX(100%);
      transition: transform var(--ui-transition), visibility var(--ui-transition) ease;

      &::before {
        @include pseudo;

        position: fixed;
        left: 0;
        top: 0;
        z-index: 40;
        width: 100%;
        height: 100px;
        background-color: var(--accent);
      }

      &.menu--active {
        visibility: visible;
        transform: initial;
      }
    }
  }

  &__nav-list {
    @include tablet {
      @include hide-scrollbar;

      flex-direction: column;
      margin-bottom: 30px;
      height: fit-content;
      gap: 5px;
    }
  }

  &__nav-item {
    @include tablet {
      border: 2px solid var(--second);
      border-radius: 28px;
      padding: 0;
    }
  }

  &__nav-link {
    @include tablet {
      display: block;
      padding: 13px 20px;
    }
  }

  &__btn {
    @include mobile {
      margin-bottom: 5px;
      max-width: 100%;
    }
  }

  @include small-desktop {
    margin: 0 10px;
    margin-top: 10px;
  }

  @include tablet {
    z-index: 5;
    border-radius: 64px;
    padding: 10px;
    background-color: var(--accent);
  }
}
