.home-page {
  position: relative;
  padding: 150px 0 217px;

  &::after {
    @include pseudo;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #110a1d 1.64%, rgb(255 255 255 / 0%) 95.45%);
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    @include small-desktop {
      flex-direction: column;
      align-items: center;
      gap: 385px;
    }

    @include mobile {
      gap: 230px;
    }
  }

  &__hero {
    position: relative;
    padding-top: 154px;
    max-width: 670px;

    &::after {
      @include pseudo;

      position: absolute;
      left: 0;
      top: -256px;
      z-index: -1;
      width: 226px;
      height: 1302px;
      background: linear-gradient(180deg, #478bf9 0%, rgb(71 139 249 / 40%) 100%);
      opacity: 0.6;
      filter: blur(300px);
      transform: rotate(297deg);
      pointer-events: none;

      @include mobile {
        top: -145px;
        width: 81px;
        height: 466px;
        filter: blur(79px);
      }
    }

    @include small-desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    @include mobile {
      max-width: 500px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 96px;
    line-height: 96px;
    color: var(--white);

    @include big-desktop {
      font-size: 76px;
      line-height: 77px;
    }

    @include small-desktop {
      font-size: 96px;
      line-height: 96px;
      text-align: center;
    }

    @include mobile {
      margin-bottom: 13px;
      font-size: 46px;
      line-height: 109%;
    }
  }

  &__subtitle {
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: var(--white-2);

    @include big-desktop {
      font-size: 22px;
    }

    @include mobile {
      margin-bottom: 23px;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__btn {
    border-radius: 48px;
    padding: 20px;
    width: 100%;
    max-width: 393px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @include mobile {
      padding: 15px;
      font-size: 18px;
      line-height: initial;
    }
  }

  &__blog {
    flex-basis: 34%;
  }

  @include mobile {
    padding: 70px 0 121px;
  }
}
