<div class="chips">
  <div class="chips__col-wrapp">
    <div class="chips__col chips__col--top chips__col--opacity-1">
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
    </div>
    <div class="chips__col chips__col--top chips__col--opacity-1">
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--currency">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#$"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="chips__col-wrapp chips__col-wrapp--flex">
    <div class="chips__col chips__col--bottom chips__col--opacity-2">
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
    </div>
    <div class="chips__col chips__col--bottom chips__col--opacity-2">
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
    </div>
    <div class="chips__col chips__col--bottom chips__col--opacity-2">
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--timer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#timer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="chips__col-wrapp">
    <div class="chips__col chips__col--top chips__col--opacity-3">
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
    </div>
    <div class="chips__col chips__col--top chips__col--opacity-3">
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--world">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#world"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--soccer">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#soccer"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--crown">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#crown"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--m">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#m"></use>
        </svg>
      </div>
      <div class="chips__item chips__item--shield">
        <svg class="chips__icon">
          <use xlink:href="img/sprite.svg#shield"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
