<header class="header">
  <div class="container header__container">
    <nav class="nav header__nav" title="Menu" data-menu>
      <ul class="list-reset nav__list header__nav-list">
        <li class="nav__item header__nav-item"><a href="#" class="nav__link header__nav-link">About us</a></li>
        <li class="nav__item header__nav-item"><a href="#" class="nav__link header__nav-link">Brands</a></li>
        <li class="nav__item header__nav-item"><a href="#" class="nav__link header__nav-link">Commissions</a></li>
        <li class="nav__item header__nav-item"><a href="#" class="nav__link header__nav-link">News</a></li>
        <li class="nav__item header__nav-item"><a href="#" class="nav__link header__nav-link">Contact us</a></li>
        <li class="nav__item header__nav-item"><a href="#" class="nav__link header__nav-link">Careers</a></li>
      </ul>
    </nav>
    <select name="language" class="input-reset btn-border js-choice">
      <option value="en">EN</option>
      <option value="ru">RU</option>
      <option value="by">BY</option>
    </select>
    <button class="btn-reset btn-border header__btn" data-dynamic-state="header__nav, 576, last">LOG IN</button>
    <button class="btn-reset btn-accent header__btn" data-dynamic-state="header__nav, 576, last">LOG IN</button>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
