<section class="home-page">
  @include('chips.html')
  <div class="container home-page__container">
    <div class="home-page__hero">
      <h1 class="title h1 home-page__title">
        HOUSE OF
        <span class="second-color">GAMBLING</span>
      </h1>
      <p class="text home-page__subtitle">Raise your ROI with direct advertiser</p>
      <button type="button" class="btn-reset btn-accent home-page__btn">Become a Partner</button>
    </div>
    <section class="blog home-page__blog">
      <h2 class="title blog__title">BLOG</h2>
      <ul class="list-reset blog__list" data-simplebar>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="/">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
        <li class="blog__item">
          <article class="article post">
            <h3 class="title post__title">
              <a href="">Payment methods: Skrill, Neteller, webmoney, Bank transfer</a>
            </h3>
            <time datetime="2023-10-02" class="post__date">10.02.2023</time>
          </article>
        </li>
      </ul>
    </section>
  </div>
</section>
